# Node.js dependencies
node_modules/

# Environment files
.env
.env.* 

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Coverage reports
coverage/
.nyc_output/

# Build output
build/
dist/

# Database files
*.sqlite
*.sqlite3
db.json
dump.rdb

# IDE files
.DS_Store
.vscode/
.idea/

# Miscellaneous
*.pem
*.key
*.crt
Thumbs.db

# Debugging files
*.swp
*.swo

# Temporary files
.tmp/
*.tmp
